html {
    background: #222;
    color: white;
    font-size: 16px;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: cyan;
    text-decoration: cyan underline;

    &[target=_blank]::after {
        content: '(opens in new tab)';
        vertical-align: super;
        font-size: 0.6rem;
    }

    &:visited {
        text-decoration: lightblue underline;
    }
}

article {
    p, li {
        text-align: justify;
    }
}

header nav ul {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding: 16px;
    margin: 0;

    li {
        list-style-type: none;
    }

    a.active {
        font-weight: bold;
    }
}
