@import url('/styles/base.css');

:host {
    display: flex;
    align-items: center;
    padding: var(--d-small-gap);
    gap: var(--d-small-gap);
    margin-bottom: var(--d-small-gap);
    position: sticky;
    top: 0;
    background-color: var(--c-highlight);
}

#title {
    flex-grow: 1;
    margin: 0;
}
