@import url('/styles/base.css');

:host{
    display: block;
    padding: var(--d-small-gap);
}

:host([article]){
    max-width: 960px;
    margin: var(--d-small-gap) auto;
    background-color: var(--c-highlight);
}
