<style>@import url('/ktane/components/preferences.css')</style>
<dialog id="dialog">
    <div id="layout">
        <div id="navigation">
            <div class="header">Preferneces</div>
            <button class="item active" data-tag="general-preferences">General</button>
            <div class="header">Tools</div>
            <button class="item" data-tag="serial-number">Serial number</button>
        </div>
        <div id="content">
            <div data-tag="general-preferences">
                <h2>General</h2>
                <p><i>Some simple customizations</i></p>
                <div class="input-container"><input type="checkbox" id="slang"><label for="slang">Use custom slang</label></div>
                <p class="description">
                    Use our custom slang terms for the modules and other things.
                    If you don't know, what this is, just leave it off.
                </p>
            </div>
            <div data-tag="serial-number">
                <h2 data-mode="harmless">Serial number</h2>
                <p><i>Anything about the serial number</i></p>
                <ktane-tool-config title="Colors" mode="harmless">
                    <i slot="description">Color interesting things in the serial number.</i>
                </ktane-tool-config>
            </div>
        </div>
        <div id="close-background">
            <button id="close">close</button>
        </div>
    </div>
</dialog>
