@import url('/styles/base.css');

#dialog {
    padding: 1px;
    border: none;
    background-color: var(--c-white);
    width: 960px;
    max-height: calc(100% - 2 * var(--d-small-gap));
}

#layout {
    display: grid;
    gap: 1px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

#close-background {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1 / 3;
}

#navigation, #content, #close-background {
    padding: var(--d-small-gap);
    background-color: var(--c-background);
}

#navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: -1px;
}

#content {
    background-color: var(--c-highlight);
    height: 500px;
    overflow-y: auto;
}

button.item, .header {
    padding-top: var(--d-tiny-gap);
    padding-bottom: var(--d-tiny-gap);
}

button.item {
    padding-left: var(--d-small-gap);
    border-radius: 0;
    border: none;
    background: none;
    color: var(--c-white);
    text-align: left;
    white-space: nowrap;
    margin-right: calc(0px - var(--d-small-gap));
}

.header {
    font-weight: bold;
}

button.item.active {
    background-color: var(--c-highlight);
    margin-right: calc(-1px - var(--d-small-gap));
    border-left: 1px solid var(--c-white);
    border-top: 1px solid var(--c-white);
    border-bottom: 1px solid var(--c-white);
}

#content > div {
    display: none;
}

#content > div.active {
    display: unset;
}

.description {
    margin-left: var(--d-large-gap);
    font-style: italic;
}

.input-container {
    display: flex;
    gap: var(--d-small-gap);
}
