@import url('/styles/base.css');

#input {
    font-family: monospace;
    font-size: 1.2rem;
    overflow-x: scroll;
    display: inline-block;
}

#display {
    font-family: monospace;
    font-size: 1.2rem;
    display: inline-block;
    min-width: 50px;
    white-space: pre;
}


