:root {
    /* Some basic colors as seen in https://draculatheme.com/contribute (MIT license) */

    --c-background: #282a36;
    --c-highlight: #44475a;
    --c-dim: #6272a4;

    --c-white: #f8f8f2;
    --c-cyan: #8be9fd;
    --c-green: #50fa7b;
    --c-orange: #ffb86c;
    --c-pink: #ff79c6;
    --c-purple: #bd93f9;
    --c-red: #ff5555;
    --c-yellow: #f1fa8c;

    /* Commonly used lengths in case I decide to change them */

    --d-tiny-gap: 5px;
    --d-small-gap: 10px;
    --d-large-gap: 20px;

    --d-br-small: 5px; /* Buttons or badges for example */
    --d-br-large: 10px; /* Things that do not directly contain text */
}
